* {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    margin: 0;
    background: #ff9966;
    /* fallback for old browsers */
    background: -webkit-linear-gradient( to right, #e7fcc1, #c7a392);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( to right, #b5bcca, #8a8ca8);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: "IBM Plex Serif", serif;
}

.contenedor {
    background-color: white;
    min-height: calc(100vh - 20px);
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 30px 0 30px;
}

nav {
    background-color: #bbbfd6;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 20px;
}

nav ul li:hover {
    background-color: #5c669e;
}

nav ul a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
}


/* Menu sencillo  */

.sencillo ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.sencillo ul li {
    text-align: center;
    margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
    .sencillo ul {
        flex-direction: row;
    }
    .sencillo ul li {
        margin-bottom: 0;
    }
}


/* Menu con iconos */

.iconos ul li a {
    display: flex;
    justify-content: center;
    flex: 1;
}

.iconos .icono {
    font-size: 2rem;
    flex: 0 0 3rem;
}

.iconos .texto {
    font-size: 1.4rem;
}

.iconos .texto span {
    font-size: .8rem;
    display: block;
    margin-top: 10px;
}

@media screen and (min-width:480px) {
    .iconos ul {
        display: flex;
        flex-wrap: wrap;
    }
    .iconos ul li {
        flex: flex;
        flex: 0 1 calc( 50% - 2rem);
    }
}

@media screen and (min-width:768px) {
    .iconos ul li {
        display: flex;
        flex: 1;
    }
}


/* dropdown */

.dropdown ul {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:768px) {
    .dropdown ul {
        flex-direction: row;
    }
}

.dropdown ul li {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media screen and (min-width:768px) {
    .dropdown ul li {
        position: relative;
        display: flex;
        flex: 1 1 100%;
    }
    .dropdown ul li ul {
        display: none;
        position: absolute;
        top: 100%;
        /*se asegura que siempre se muestre debajo */
        left: 0;
        background-color: #ff5e62;
    }
    .dropdown ul li:hover ul {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}


/* sociales */

.sociales ul li span {
    display: none;
}

.sociales ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: flex-end;
    /* justify-content: center;
  justify-content: space-around; */
    /* justify-content: space-between; */
    flex: 1 0 auto;
}

.sociales ul li a:before {
    font-family: "Font Awesome 5 Brands";
}

.sociales ul li a[href*='facebook.com']::before {
    content: "\f39e";
}

.sociales ul li a[href*='twitter.com']::before {
    content: "\f099";
}

.sociales ul li a[href*='youtube.com']::before {
    content: "\f431";
}

.sociales ul li a[href*='instagram.com']::before {
    content: "\f16d";
}

.sociales ul li a[href*='pinterest.com']::before {
    content: "\f231 ";
}


/* combinado sociales y dropdown */

.navegacion-social-dropdown {
    display: flex;
    justify-content: space-between;
    background-color: #b4b8d1;
}